* {
    max-width: 700px;
    margin: auto;
	
  }
  
  
  /*body {
      min-width: 500px;
  }*/
  
  div {
    border-radius: 5px;
  }
  
  /*
 
body,
.website-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


body {
  height: 100vh;
}


.website-counter {
  background-color: #5393d4;
  height: 40px;
  width: 70px;
  color: white;
  border-radius: 30px;
  font-weight: 700;
  font-size: 25px;
  margin-top: 10px;
}
*/

#flex-container {
	display: flex;
	flex-direciton: row;
	margin-top: 10px;
	margin-bottom: 1px;
	font-size: 20px;
}
/*
#flex-container > .aws-resume {
	flex:initial;
}*/

#flex-container > .website-counter {
	width: 1rem;
}

  
  #cloud {
	  text-align: center;
	  margin-top: 20px;
  }
  
  
  #main {
	  margin-top: 20px; 
	  margin-bottom: 20px;
	  border-style: double;
  }
  

  /*#header {
	margin-top: 40px;
    height: 5px;
    width: 100%;
    background-color: #000000;
    position: inherit;
    z-index: 1;
  } */
  
  /*h1 { 
	text-align: right; 
	color: #5393d4;
	}*/
  h2 { 
	text-align: right; 
	color: #5393d4;
  }
   h3 { 
	text-align: right; 
	color: #5393d4;
	font-size: 12px;
  }
    h4 { 
	margin-top: 2px;
	margin-bottom: 10px;
	font-family: 'Cormorant Garamond';
	text-align: left; 
	color: black;
	font-size: 14px;
	font-weight: normal;
  }
	h5 {
	font-family: 'Cormorant Garamond';
	color: #5393d4;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 2px;
  }
	h6 {
	font-family: 'Cormorant Garamond';
	color: black;
	font-size: 14px;
	font-weight: normal;
	
  }
  #title {
    margin-left: 3%;
  }
  
  /*#footer {
    height: 5px;
    width: 100%;
    background-color: #000000;
    clear: both;
    position: inherit;
  }  */
  
  /*.left {
    height: 1000px;
    width: 5px;
    background-color: #000000;
    float: left;
    position: inherit;
  }  */
  
  /*.right {
    height: 1000px;
    width: 5px;
    background-color: #000000;
    float: right;
    position: inherit;
  }  */
  
  .stuff {
    display: inline-block;
    margin-top: 20px;
    margin-left: 55px;
    width: 85%;
    height: 1000px;
  }
  
  ul {
	  margin-bottom: 10px;
  }
  p,
  li {
    font-family: 'Cormorant Garamond';
  }
  
  .head {
	margin-top: 10px;
	color: #5393d4;
    font-size: 20px;
  }
  .intro{
	  font-family: tahoma;
	  font-weight: normal;
  }
  
  #name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
    .left,
    .right {
      display: none;
    }
    .stuff {
      width: 100%;
      margin-left: 10px;
	  
    }
	

	
	
  }